{% extends 'users/index.html' %}



<div class="container mt-4">
    <div class="row">

        {% block categories %} 
         <!-- Premium Ads Section -->
			
		 
        <div class="col-md-3">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Vehihcle Description</h5>
                    </div>
                    <div class="card-body">
                        <p><b>{{ listing.description }}</b></p>
                        <p>Make: <b>{{ listing.manufacturer }}</b></p>
                        <p>Model: <b>{{ listing.model }}</b></p>
                        <p>Price: <b>{{ "{:,.2f}".format(listing.price) }}</b></p>
                        <p>Color: <b>{{ listing.color }}</b></p>
                        <p>Gear Type: <b>{{ listing.gear_type }}</b></p>
                        <p>Vehicle State: <b>{{ listing.state_used }}</b></p>
                        <p>Registered: <b>{{ listing.registered }}</b></p>
                        <p>Condition: <b>{{ listing.remark }}</b></p>
                        <p>Location: <b>{{ listing.location }}</b></p>
                    </div>
                </div>
            </div>
        </div>
        
        {%endblock%}

        {%block car_type%}  {%endblock%}
    {% block slider%} 
    <div class="col-md-6" style="border: 1px dotted grey;">
        <h4 style="color: red; font-weight: bolder; "> {{listing.year_of_make}}  {{listing.manufacturer}}  {{listing.model}} </h4>

    
        <i class="fas fa-calendar-alt mb-5">    {{listing.date_of_post}} </i>
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% set image_list = listing.further_images|from_json %}
                {% for image in image_list %}

                <!---->
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ url_for('static', filename='uploads/' + image) }}" class="d-block image-clickable" alt="Vehicle image" data-bs-toggle="modal" data-bs-target="#imageModal" data-index="{{ loop.index0 }}"> 
                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel-indicators">
                {% for image in image_list %}
                    <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"> </button>
                    
                {% endfor %}
            </div>
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" class="img-fluid" id="modalImage" alt="Large vehicle image">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="prevButton">Previous</button>
                        <button type="button" class="btn btn-warning" id="nextButton">Next</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        
    </div>

    <!-- For the seller's information-->
        
    <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contact Seller </h5>
                </div>
                <div class="card-body">
                    <p>Name: {{ seller.user_fname }} {{ seller.user_lname }}</p>
                    <p><i class="fa-solid fa-envelope text-danger"> </i>  {{ seller.user_email }}</p>
                    <p><i class="fa-solid fa-mobile-retro text-danger"></i>  {{ seller.user_phone }}</p>
                    <a href="https://wa.me/{{seller.user_phone}}?text=Hello,%20you%20are%20weclome%20to%20kingstarautos%20your%20best%20online%20vehicle%20vendor.%20what%20can%20I%20do%20for%20you" target="_blank" style="text-decoration: none;"> <i class="fa-brands fa-square-whatsapp fa-beat" style="color: #63E6BE;"></i> Chat on whatsapp</a>
                </div>
            </div>
             
    </div>
   
    </div>

 </div>
{% endblock slider%}

{% block ads%}  {% endblock ads%}
{% block body%}  {% endblock body%}




    