{% extends 'admin/admin_index.html' %}

{% block dash %} 
<div class="row" style="display: flex; justify-content: center; background-color:  rgb(3, 3, 93);">
    <div class="col-md-9" id="result_column" >
        <h4 class="my-5" style="color: white;">The List below contains Payment details of users on the platform </h4>    
            <table class="table table-bordered mt-5 table-responsive mt-5" style="color: white">

                <thead>
                    <tr>
                        <th>Serial</th>
                        <th>Name</th>
                        <th>Amount Paid</th> 
                        <th>Narration</th>
                        <th>Date</th>
                        <th>User's ID</th>
                    </tr>
                </thead> 
                <tbody>
                   
                    {% for d in deets %}
 
                    <tr >
                        <td class="cat">{{ loop.index }}</td>
                        <td class="cat"> {{d.pay_name}}  </td>
                        <td class="cat"> {{d.pay_amount}}  </td>
                        <td class="cat"> {{d.narration}}  </td>
                        <td class="cat"> {{d.pay_date}}  </td>
                        <td class="cat"> {{d.pay_userid}}  </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
    </div>

    <div class="col-md-3">
        <h1 style="color: aliceblue;">Voucher Generator</h1>
    <form method="post" action="{{ url_for('generate_voucher') }}">
        <button type="submit" >Generate Voucher Codes</button>
    </form>

    
    <table class="table table table-responsive mt-5" style="color: white">
        <thead>
            <tr>
                <th>Serial</th>
                <th>Voucher</th>
            </tr>
           </thead> 
        <tbody>
            {% for j in allvouchers %}
            <tr >
                <td class="cat">{{ loop.index }}</td>
                <td class="cat"> {{j.voucher_code}}  </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</div> 
{% endblock %}

