{% extends 'users/index.html' %}

{% block slider%} 


<!---->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 bgimage  align-items-center d-flex justify-content-center" style=" color: red; background-image: url({{url_for('static', filename='images/lotsofcars.jpeg')}})">

            <span style="font-size: 2rem; font-weight: bolder;">KINGSTARAUTOS</span>
			  
        </div>

        <div class="col-md-5">
            <div class="signin-form text-danger">
                <h1>Post Preium Ads</h1>

                <form method="POST" enctype="multipart/form-data" action="{{ url_for('post_premium') }}" class="text-light">
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.image.label }}
                        {{ form.image() }}
                    </div>
                    <div>
                        {{ form.manufacturer.label }}
                        {{ form.manufacturer() }}
                    </div>
                    <div>
                        {{ form.model.label }}
                        {{ form.model() }}
                    </div>
                    <div>
                        {{ form.price.label }}
                        {{ form.price() }}
                    </div>
                    <div>
                        {{ form.year_of_make.label }}
                        {{ form.year_of_make() }}
                    </div>
                    <div>
                        {{ form.color.label }}
                        {{ form.color() }}
                    </div>
                    <div>
                        {{ form.gear_type.label }}
                        {{ form.gear_type() }}
                    </div>
                    <div>
                        {{ form.state_used.label }}
                        {{ form.state_used() }}
                    </div>
                    <div>
                        {{ form.registered.label }}
                        {{ form.registered() }}
                    </div>
                    <div>
                        {{ form.location.label }}
                        {{ form.location() }}
                    </div>
                    <div>
                        {{ form.car_type.label }}
                        {{ form.car_type() }}
                    </div>
                    <div>
                        {{ form.fuel.label }}
                        {{ form.fuel() }}
                    </div>
                    <div>
                        {{ form.warranty.label }}
                        {{ form.warranty() }}
                    </div>
                    <div>
                        {{ form.remark.label }}
                        {{ form.remark() }}
                    </div>
                    <div>
                        {{ form.further_images.label }}
                        {{ form.further_images }}
                        <small style="color: orange;" >You can upload up to 10 additional images.</small>
                    </div>
                    <div>
                        {{ form.submit() }}
                    </div>
                </form>

            <a href="{{ url_for('admin_dashboard') }}" class="btn btn-danger mt-1 form-control">Back to Dashboard</a>
            
            </div>
        </div>

       
    </div>
</div>

{% endblock slider%}
{% block categories %} {%endblock%}
{% block ads%}  {% endblock ads%}
{% block body%}  {% endblock body%}



    