{% extends 'users/index.html' %}



<div class="container mt-4">
    <div class="row align-items-center">

        {% block categories %} 
         <!-- Premium Ads Section -->
			
	<div class="col-md-3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Vehihcle Description</h5>
                </div>
                <div class="card-body">
                    <p><b>{{ prem.description }}</b></p>
                    <p>Make: <b>{{ prem.manufacturer }}</b></p>
                    <p>Model: <b>{{ prem.model }}</b></p>
                    <p>Price: <b>{{ "{:,.2f}".format(prem.price) }}</b></p>
                    <p>Color: <b>{{ prem.color }}</b></p>
                    <p>Gear Type: <b>{{ prem.gear_type }}</b></p>
                    <p>Vehicle State: <b>{{ prem.state_used }}</b> km</p>
                    <p>Registered: <b>{{ prem.registered }}</b></p>
                    <p>Remark: <b>{{ prem.remark }}</b></p>
                    <p>Location: <b>{{ prem.location }}</b></p>
                </div>
            </div>
        </div>
    </div>
        
        {%endblock%}
        {%block car_type%}    {%endblock car_type%}
    {% block slider%} 
    <div class="col-md-6 text-center mb-4" style="border: 1px dotted grey;">
        <h4 style="color: red; font-weight: bolder; "> {{prem.year_of_make}}  {{prem.manufacturer}}  {{prem.model}} </h4>

    
        <i class="fas fa-calendar-alt mb-5">    {{prem.date}} </i>
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% set image_list = prem.further_images|from_json %}
                {% for image in image_list %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img src="{{ url_for('static', filename='uploads/' + image) }}" class="d-block image-clickable" alt="Vehicle image" data-bs-toggle="modal" data-bs-target="#imageModal" data-index="{{ loop.index0 }}">
                    </div>
                {% endfor %}
            </div>
            
            <div class="carousel-indicators">
                {% for image in image_list %}
                    <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active" aria-current="true"{% endif %} aria-label="Slide {{ loop.index }}"></button>
                {% endfor %}
            </div>
            
        </div>

        <!-- Modal -->
        <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="" class="img-fluid" id="modalImage" alt="Large vehicle image">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-dark" id="prevButton">Previous</button>
                        <button type="button" class="btn btn-warning" id="nextButton">Next</button>
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- For the seller's information-->
        
    <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Contact Seller </h5>
                </div>
                <div class="card-body" >
                    <p>Name: <b>Kingstar Sales Team</b> </p>
                    <p><i class="fa-solid fa-envelope text-danger"> </i>  kingstar.autos@gmail.com</p>
                    <p><i class="fa-solid fa-mobile-retro text-danger"></i>  <b>+234(0) 704 048 0257</b> </p>
                    
                    <a href="https://wa.me/2347040480257?text=Hello,%20you%20are%20weclome%20to%20kingstarautos%20your%20best%20online%20vehicle%20vendor.%20what%20can%20I%20do%20for%20you" target="_blank" style="text-decoration: none;"> <i class="fa-brands fa-square-whatsapp fa-beat" style="color: #63E6BE;"></i> Chat on whatsapp</a>

                    
                </div>
            </div>
             
    </div>
   
    </div>

 </div>
{% endblock slider%}

{% block ads%}  {% endblock ads%}
{% block body%}  {% endblock body%}


